@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form method="post">
        <p>
            <label> Username: </label> <input type="text" name="Username" /> <br />
        </p>
        <p>
            <label> Password: </label> <input type="password" name="Password" /> <br />
        </p>
        <input type="submit" value="login" />
    </form>
</div>
