@page
@model PrivacyModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <form method="post">
        <p>
            <label> UserName: </label> <input type="text" name="UserName" /> <br />
        </p>
        <p>
            <label> Email: </label> <input type="text" name="Email" /> <br />
        </p>
        <p>

            <label> Password: </label> <input type="password" name="Password" /> <br />
        </p>
        <input type="submit" value="Create" />
    </form>
</div>
