
@{
    ViewData["Title"] = "HomeSaleStaff";
    Layout = "~/Areas/SaleStaff/Views/Shared/_LayoutSaleStaff.cshtml";
}

<div class="welcome-container">
    <h1>Welcome, Sale Staff!</h1>
    <p>We are glad to see you.</p>
    <p>Here's an overview of your tasks for the day:</p>
</div>
