@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Customer</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../LayoutCustomer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutCustomer/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../LayoutCustomer/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../LayoutCustomer/assets/images/favicon.ico" />
</head>
@{
    var userId = Context.Session.GetString("UserId");
    var role = Context.Session.GetInt32("RoleID");
    var username = Context.Session.GetString("Username");
}
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-text d-flex flex-column">                    
                                        <span class="font-weight-bold mb-2">@username</span>
                                <span class="text-secondary text-small">Diamond Shop</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="customer" asp-controller="HomeCustomer" asp-action="Index">
                            <span class="menu-title">Thông tin khách hàng</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="customer" asp-controller="HomeCustomer" asp-action="HistoryOfCustomer">
                            <span class="menu-title">History Order</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="customer" asp-controller="HomeCustomer" asp-action="OrderOfCustomer">
                            <span class="menu-title">Order</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="customer" asp-controller="HomeCustomer" asp-action="ChangePassword">
                            <span class="menu-title">Change Password</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="customer" asp-controller="Home" asp-action="Index">
                            <span class="menu-title">Exit</span>
                            <i class="mdi mdi-exit-to-app menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                
            </div>
           
        </div>
  
    </div>
    
    <script src="../../LayoutCustomer/assets/vendors/js/vendor.bundle.base.js"></script>
    
    <script src="../../LayoutCustomer/assets/js/off-canvas.js"></script>
    <script src="../../LayoutCustomer/assets/js/hoverable-collapse.js"></script>
    <script src="../../LayoutCustomer/assets/js/misc.js"></script>
    
</body>
</html>
