
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="welcome-container">
    <h1>Welcome,Admin!</h1>
    <p>We are glad to see you.</p>
    <p>Here's an overview of your tasks for the day:</p>
</div>
