@model Repository.Models.MaterialPriceList

@{
    ViewData["Title"] = "CreateMaterial";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>CreateMaterial</h1>

<h4>MaterialPriceList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMaterial" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="BuyPrice" class="control-label"></label>
                <input asp-for="BuyPrice" class="form-control" />
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label"></label>
                <input asp-for="SellPrice" class="form-control" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MaterialList">Back to List</a>
</div>

