
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}


<div class="welcome-container">
    <h1>Welcome, Manager!</h1>
    <p>We are glad to see you.</p>
    <p>Here's an overview of your tasks for the day:</p>
</div>


