@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Change Password</h3>
    </div>
    <div class="card-body">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input name="currentPassword" class="form-control" type="password" required>
                <span asp-validation-for="currentPassword" class="text-danger"></span>
                @if (ViewData.ModelState["currentPassword"] != null && ViewData.ModelState["currentPassword"].Errors.Count > 0)
                {
                        <span class="text-danger">@ViewData.ModelState["currentPassword"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input name="newPassword" class="form-control" type="password" required>
                <span asp-validation-for="newPassword" class="text-danger"></span>
                @if (ViewData.ModelState["newPassword"] != null && ViewData.ModelState["newPassword"].Errors.Count > 0)
                {
                        <span class="text-danger">@ViewData.ModelState["newPassword"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input name="confirmPassword" class="form-control" type="password" required>
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
                @if (ViewData.ModelState["confirmPassword"] != null && ViewData.ModelState["confirmPassword"].Errors.Count > 0)
                {
                        <span class="text-danger">@ViewData.ModelState["confirmPassword"].Errors[0].ErrorMessage</span>
                }
            </div>

            <div class="form-group">
                @if (ViewBag.Message != null)
                {
                        <span class="text-success">@ViewBag.Message</span>
                }
                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
