
@{
    ViewData["Title"] = "HistoryOfCustomer";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}

<body>
    <div class="history-container">
        <h1 class="page-title">Purchase History</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2024-06-10</td>
                    <td>$29.99</td>
                    <td><a href="#" class="details-button">View Details</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2024-06-05</td>
                    <td>$49.99</td>
                    <td><a href="#" class="details-button">View Details</a></td>
                </tr>
               
            </tbody>
        </table>
    </div>
</body>

