@using Repository.Models
@{
    ViewData["Title"] = "AboutStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <a><img src="~/images/banner/aboutstore.png" alt="About Store Banner"></a>

    <!-- Home -->

    
    <section class="gioi-thieu">
        <h2>Introduce the store</h2>
        <p>
            When it comes to buying diamonds, we often think of sparkle, luxury and eternal beauty. But behind the halo of each diamond is a journey that requires basic knowledge. Buying a diamond is more than just choosing a beautiful piece of jewelry; it is also an investment decision, a symbol of affection and sometimes a long-term commitment.
        </p>
    </section>

    <section class="thong-tin">
        <h2>Things to Know When Buying Diamonds</h2>
        <h3>What is Diamond?</h3>
        <p>
            Diamonds are the result of carbon being exposed to extreme heat and pressure deep within the earth. This gemstone is often used to make a variety of different types of jewelry because of its sparkle and exceptional durability.
        </p>
    </section>

    <section class="diamond-4cs">
        <h2>4Cs Diamond Evaluation Standards</h2>
        <ul>
            <li>
                <h3>Cut:</h3>
                <p>Appearance and how well it interacts with light.</p>
            </li>
            <li>
                <h3>Clarity:</h3>
                <p>The smaller the amount of internal impurities and external trace defects, the more valuable it is.</p>
            </li>
            <li>
                <h3>Color:</h3>
                <p>The whiter the color of the diamond, the higher its value.</p>
            </li>
            <li>
                <h3>Carat:</h3>
                <p>Weight of the diamond.</p>
            </li>
        </ul>
    </section>

    <section class="diamond-sizes">
        <h2>Sizes of Diamonds</h2>
        <ul>
            <li>
                <h3>Diamond size 3 mm 6:</h3>
                <p>Color: D – E – F.</p>
                <p>Clarity: VS1 – VS2.</p>
            </li>
            <li>
                <h3>Diamond size 4 cups:</h3>
                <p>Color: G – H – I.</p>
                <p>Clarity: VS1 – VS2.</p>
            </li>
            <li>
                <h3>Diamond size 4 mm 5:</h3>
                <p>Color: D – E – F.</p>
                <p>Clarity: VS1 – VS2.</p>
            </li>
            <li>
                <h3>Diamond size 5 mm:</h3>
                <p>Color: D – E – F.</p>
                <p>Clarity: VSS1 – VSS2 – VS1 – VS2.</p>
            </li>
            <li>
                <h3>Diamond size 5 mm 4:</h3>
                <p>Color: D – E – F.</p>
                <p>Clarity: VS1 – VS2.</p>
            </li>
        </ul>
    </section>

    <section class="diamond-sample">
        <h2>Suggested Diamond Jewelry Models Suitable for Each Size</h2>
        <h3>Women's Twist Diamond Ring 3 Cup 6</h3>
        <p>
            With a size not too large like 3.6 mm, a simple ring style that uniquely honors the master diamond will be the best choice to focus all eyes on the gemstone in the center of the ring. The perfect suggestion is the Twist style diamond ring for women.

            This is a solid women's diamond ring with a twist at the base. At the top of the ring is a large diamond, held securely by a uniquely twisted base. This structure not only holds the main diamond securely, but also creates optimal sparkle and shine, giving a sense of movement and style.
        </p>
        <a><img src="~/images/product/1.jpg" alt=""></a>

    </section>

    <section class="diamond-sample">
        <h3>Women's Cathedral Diamond Ring 4 Cups</h3>
        <p>
            Similar to the 3.6mm, the 4mm size is also average, so choosing a simple ring style like the Cathedral style will further highlight the main diamond. The characteristic of the Cathedral ring is that the main stone is raised compared to the stylized ring below the pedestal like the arches of ancient churches. This type of ring evokes luxury and pride, and would be a perfect choice for an engagement ring or wedding ring.
        </p>
        <a><img src="~/images/product/1.jpg" alt=""></a>

    </section>


    <section class="diamond-sample">
        <h3>Snowflake Diamond Women's Earrings 4 Cups 5</h3>
        <p>
            This pair of flowers has a sophisticated design, inspired by snowflakes. Each earring features a large diamond at the center, surrounded by many smaller diamonds delicately arranged to simulate the edges of a snowflake, which not only creates a beautiful look but It also increases the ability to reflect light from all angles, making the 4.5 mm diamond in the center brighter and more prominent.
        </p>
        <a><img src="~/images/product/1.jpg" alt=""></a>

    </section>

    <section class="diamond-sample">
        <h3>Powerful Men's Diamond Ring 5 Cups</h3>
        <p>
            The chain is a men's ring design imbued with power and luxury for gentlemen. With a fairly large diamond size like 5 mm, it will be very suitable for jewelry for men such as powerful men's diamond rings. This is a rather elaborate ring with a large diamond in the center, set in a square ring, enhanced by 4 rose gold prong pins.

            The upper part of the ring body is highlighted by a combination of white diamonds and rose gold shaped like a crown, providing a striking contrast with the surrounding layer of small diamonds, expressing the strong and classy for the person wearing this ring.
        </p>
        <a><img src="~/images/product/1.jpg" alt=""></a>

    </section>

    <section class="diamond-sample">
        <h3>Elegant Men's Diamond Ring 5 Cups 4</h3>
        <p>
            As for gentlemen who love minimalism and only focus their attention on the 5.4 mm diamond, the elegant men's diamond ring design is an option not to be missed. The ring combines two metals: white gold and rose gold, creating a unique and fashionable contrast. The rose gold part is located in the middle of the ring, giving a luxurious and warm feeling.

            The ring's centerpiece is a round-cut diamond, set high and held firmly by four rose gold prongs, which maximize light reflection, while highlighting the large stone. This design is simple but extremely powerful, with meticulous lines and unique color combinations. The unique large diamond will be the irresistibly attractive highlight of the ring.
        </p>
        <a><img src="~/images/product/1.jpg" alt=""></a>

    </section>

    <section class="diamond-dis">
        <h2>Promotion Program 06</h2>
        <p>
            Minh Sang would like to offer you attractive promotions in June when purchasing diamond jewelry:
        </p>
        <a><img src="~/images/product/1.jpg" alt=""></a>

    </section>

    <section class="test1">


        <section class="promotion-text1">

            <p>
                Only for 4 days, from <span class="promotion-text">23-26/06</span>, Minh Sang offers <span class="promotion-text">9%</span> GIA diamonds with incentives <span class="promotion-text">21%</span> Diamond jewelry (Applies to GIA diamond sizes from <span class="promotion-text">4cup5</span> above)
            </p>
            <p>
                Since <span class="promotion-text">27-23/06</span>, Special offer with diamonds from Minh Sang:
            </p>
            <p>
                - GIA diamond below <span class="promotion-text">4cup5</span> endow <span class="promotion-text">8%</span>, with incentives <span class="promotion-text">16%</span> diamond jewelry
            </p>
            <p>
                - GIA diamonds <span class="promotion-text">4cup6 to 5cup4</span> endow <span class="promotion-text">9%</span>, with incentives <span class="promotion-text">16%</span> diamond jewelry
            </p>
            <p>
                - GIA diamonds <span class="promotion-text">5ly5</span> endow <span class="promotion-text">9%</span>, with incentives <span class="promotion-text">21%</span> diamond jewelry
            </p>


        </section>

        <section class="diamond-sample">
            <p>
                Above is a summary of information about Things to Know When Buying Diamonds that you can refer to. If you need to shop for diamond rings of many different styles, please contact Minh Sang for direct advice.
            </p>

        </section>
    </section>
    <style>
        .gioi-thieu {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .thong-tin {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .diamond-4cs {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .diamond-sizes {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .diamond-sample {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .diamond-dis {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

            .diamond-dis img {
                width: 500px; /* Điều chỉnh kích thước theo nhu cầu */
                height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị méo */
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
            }

        .promotion-text {
            color: rgb(23, 93, 198);
            font-weight: bold;
        }

        .promotion-text1 {
            text-align: justify;
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

    </style>
</section>

