
@{
    ViewData["Title"] = "HowToMeasureRingSize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
<h1 class="page-title">Instructions for measuring size and ring size</h1>

<section class="huong-dan">
    <h2>Minh Sang will guide you how to measure your ring size at home & how to secretly measure your ring to create a surprise gift for your loved ones, especially for special solutions in life. With the tips in this article, you can easily shop for diamond rings online without anything to worry about.</h2>
    <a><img src="~/images/sizeni/1.png" alt=""></a>
    </section>

<section class="bang-size">
    <h2>Ring size chart</h2>
    <a><img src="~/images/sizeni/2.png" alt=""></a>

<section>

<section class="cach-do">
                <h2>The simplest ways to measure ring size</h2>
                <h3>Measure with paper & ruler</h3>
                <p>
                    Step 1: Prepare a ruler, 1 scissors, 1 pen & a sheet of paper.<br>

                    Step 2: Cut a piece of paper about 10 cm long and 1 cm wide.<br>

                    Step 3: Use the piece of paper you just cut to wrap it tightly around the finger you want to measure.<br>

                    Step 4: Mark the intersection point.<br>

                    Step 5: Remove and use a ruler to measure the length of the piece of paper from the starting point to the marked part. Take the measurement result and divide it by 3.14. Then compare with the Ring Size Table.<br>
                </p>
                <a><img src="~/images/sizeni/3.png" alt=""></a>
                <h3>Measure according to an available ring</h3>
                <p>
                    Step 1: Prepare a ruler and the ring you want to measure.<br>

                    Step 2: Compare the mm number of the ruler with the size on the RING SIZE CHART above.
                </p>
                <a><img src="~/images/sizeni/4.png" alt=""></a>
                <h2>Notes when measuring</h2>
                <h3>Finger size depends on temperature</h3>
                <p>
                    Temperature is the cause of inaccurate ring size measurements. When the weather is cold, your finger may be smaller than normal, you should add 1 mm to the circumference, and when the weather is hot, the opposite is true, minus 1 mm. In case your finger joints are large, you should measure the circumference near the joint (not on the joint) so that when wearing the ring it is easy to put on but does not slip off.
                </p>
                <h3>Pay attention to the thickness of the ring</h3>
                <p>
                    The thickness of the ring also affects each person's nipple size. For rings such as gold rings, silver rings, especially Minh Sang's wedding rings, the thickness will be different. Therefore, when measuring, you need to pay attention and add or subtract some size so that you can wear the ring comfortably without being constrained.
                </p>
                <a><img src="~/images/sizeni/5.png" alt=""></a>
                <h3>Notice the knuckles</h3>
                <p>
                    The knuckles may be larger than at the base of the fingers. Therefore, you need to measure the size at the finger joint and the base of the finger, then take the size between the two parts to choose the appropriate ring size. At this point, your hand wearing the ring will feel comfortable and will not feel uncomfortable when bending or bending your fingers.
                    In case your finger joints are large, you should measure the circumference near the joint (not on the joint) so that when you wear the ring, the ring fits easily and does not slip off.
                </p>
                <a><img src="~/images/sizeni/6.png" alt=""></a>
                <h3>Measure several times to get the most accurate data</h3>
                <p>
                    When measuring hand size, there will certainly be errors, so carefully measure 3-4 times to find the most accurate measurement. In this way, the size you measure will be 85-95% accurate.
                </p>
                <h2>Secret ring size measuring tips</h2>
                <h3>Borrow a ring from the person you want to give it to</h3>
                <p>
                    Guys can secretly measure the size by pretending to borrow their partner's rings (regular rings, style rings or couple rings are fine), then use a ruler to measure the inner circumference diameter of the ring like this. instructions above.
                </p>
                <h3>Thanks to relatives</h3>
                <p>The simplest way to know your lover's ring size without her finding out or getting suspicious is to ask for help from a relative, be it your mother, sister or friend. They can help you get this information naturally and easily by asking and asking for help trying on gold or silver rings.</p>
                <h3>Observe and estimate</h3>
                <p>For those who do not know how to measure or for some reason cannot measure, you can estimate the size of the ring hand based on your height and weight according to the table below:</p>
                <a><img src="~/images/sizeni/7.png" alt=""></a>
                <h3>Pretend to ask that person to try on a ring to help you buy it for someone else</h3>
                <p>For this method, you need to cleverly ask that person to help you try on a ring, it could be a beautiful ring or a gold ring bought as a gift for your mother or sister. At the same time, you also need to observe and pay attention to the size of your partner's fingers so you can easily buy a suitable couple ring or wedding ring.</p>
                <a><img src="~/images/sizeni/8.png" alt=""></a>
                <h3>The secret to measuring naturally</h3>
                <p>
                    If the above methods still don't work, you can try:

                    Measure her hand while she is sleeping: Alternatively, you can do this, when she is sleeping, you use a string or thread to measure her finger. If she wakes up, you need to stay calm and say you're stroking her hand to avoid suspicion.

                    Compare your finger with that person's: For this method, you need to carefully observe the joint and the size below the base of the finger compared to your similar finger to find out. Get the most accurate ring size.

                    In case the ring doesn't fit, what should I do? Do not worry! Minh Sang has a free product return service within 48 hours. You can rest assured to enjoy shopping and experience the best customer service at Minh Sang!
                </p>
</section>

</section>
</section>

    <style>
        .page-title {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 40px;
            font-weight: bold;
            color: #999999;
        }

        .huong-dan {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Times New Roman', Times, serif;
            margin: 0 auto;
            max-width: 80%; /* Đặt giới hạn chiều rộng của section */
            padding: 20px; /* Thêm khoảng cách giữa lề và section */
        }

            .huong-dan h2 {
                width: 70%;
                font-weight: normal;
                font-style: italic; /* Làm chữ nghiêng */
                margin-right: 20px; /* Khoảng cách giữa chữ và ảnh */
            }

            .huong-dan a {
                width: 30%;
            }

            .huong-dan img {
                max-width: 100%;
                height: auto;
            }

        .bang-size {
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Thay đổi giá trị từ center thành flex-start */
            justify-content: center;
            text-align: left; /* Thay đổi giá trị từ center thành left */
            margin: 130px; /* Thêm khoảng cách lề */
        }

            .bang-size img {
                display: block;
                margin: 0; /* Thay đổi giá trị từ auto thành 0 */
            }

            .cach-do p{
                font-size: 20px;
            color: #828282;
            }
            

       
    </style>
