@model Service.ViewModel.ForgotPasswordViewModel

<h2>Forgot your password?</h2>
<p>Please enter your email address to receive a link to reset your password.</p>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
</form>